* {
  box-sizing: border-box;
}

/* BODY */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* HOME (mobile) */

.home {
  display: grid;
  padding-top: 150px;
  background-color: black;
}

.home__titulo {
  color: white;
  justify-self: center;
}

/* HOME (desktop) */

@media (min-width: 768px) {
  .home {
    padding-top: 200px;
    display: flex;
    gap: 25px;
    justify-content: center;
    background: linear-gradient(
      107.17deg,
      #408195 29.35%,
      rgba(0, 210, 135, 0.8) 78.73%
    );
  }

  .home__titulo {
    margin: 0;
    font-size: 48px;
  }
}
