* {
  box-sizing: border-box;
}

/* BODY */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* HOME (mobile) */
.home {
  background-image: url(./images/imagen-home.png);
  background-position: center;
  margin: 0;
  height: 616px;
  display: flex;
  flex-direction: column;
}

.home__content {
  margin: auto;
  width: 150px;
}

.home__title {
  font-size: 48px;
  text-align: center;
  color: white;
  margin: 0;
}

.home__subtitle {
  font-size: 32px;
  text-align: center;
  color: white;
  margin: 0;
}

/* PRESENTACION (mobile) */

.presentacion {
  height: 538px;
  background-color: #141414;
  color: white;
  display: flex;
}

.presentacion__foto {
  display: none;
}

.presentacion__content {
  padding: 32px;
  align-self: center;
  display: grid;
  justify-items: center;
  gap: 20px;
}

.presentacion__titulo {
  font-size: 32px;
  margin: 0;
  font-weight: bold;
}

.presentacion__texto {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/* PRESENTACION (desktop) */

@media (min-width: 768px) {
  .presentacion {
    background-color: white;
    color: black;
    padding: 0 5%;
  }

  .presentacion__foto {
    display: initial;
    height: 380px;
    align-self: flex-end;
  }

  .presentacion__content {
    justify-items: left;
  }
}

/* MIS SERVICIOS (mobile) */

.mis-servicios {
  display: grid;
}

.mis-servicios__titulo {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.mis-servicios__servicio {
  display: grid;
  justify-items: center;
  padding: 40px 57px;
  font-family: "Poppins", sans-serif;
}

.mis-servicios__servicio-titulo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.mis-servicios__servicio-imagen {
  height: 128px;
}

.mis-servicios__servicio-texto {
  text-align: center;
  margin: 0;
  font-size: 16px;
}

/* MIS SERVICIOS (desktop) */

@media (min-width: 768px) {
  .mis-servicios {
    background-color: #fafafa;
  }

  .mis-servicios__servicios {
    display: flex;
  }
}

/* CONTACTO (mobile) */

.contacto-section {
  padding-top: 25px;
  display: grid;
  background-color: #141414;
}

.contacto-section__titulo {
  color: white;
  justify-self: center;
}

/* CONTACTO (desktop) */

@media (min-width: 768px) {
  .contacto-section {
    padding-top: 50px;
    display: flex;
    gap: 25px;
    justify-content: center;
  }

  .contacto-section__titulo {
    margin: 0;
    font-size: 48px;
  }
}
